body {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8b2e6047-d5ec-4a72-b551-5bfa1570d1cc/d835yfb-59c1b53b-335c-4068-b8fb-1e3a72e82425.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvOGIyZTYwNDctZDVlYy00YTcyLWI1NTEtNWJmYTE1NzBkMWNjXC9kODM1eWZiLTU5YzFiNTNiLTMzNWMtNDA2OC1iOGZiLTFlM2E3MmU4MjQyNS5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.oBtDiw-6ljjBd_vCrTYH9sSNBRbdJ5t1RZ9kh84kLLQ");
  background-repeat: repeat;
  background-size: 2000px;
  font-family: 'Courier New', monospace;
  overflow-x: hidden;
}

.container {
  margin-top: 100px;
}

#logo-container {
  background-color: rgba(255, 255, 255, .3);
  border: dashed rgba(0, 0, 0, .6) 1px;
  width: 400px;
  border-radius: 50%;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#order-container {
  margin-top: 30px;
  border: solid 6px rgba(0, 0, 0, .3);
  background-color: rgba(255, 255, 255, .6);
  width: 400px;
  padding: 10px;

}

div#order-container h4, div#toppings-container p, #size-label {
  font-weight: bold;
}

.center-text, form {
  text-align: center;
}

.toppings {
  float: left;
  margin-left: 100px;
  font-style: italic;
}

#toppings-container {
  margin-bottom: 35px;
}

button {
  margin-top: 10px;
}
